.quoteRoot{
    max-width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.col2{
    margin-left: auto;
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: -0.02em;
    color:#31353C;
}
.col1{
    font-family: Inter;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: -0.02em;
    color: #878794;
}
.quote_row:first-child .col2{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}
.coin{
    background: conic-gradient(from 191.93deg at 57.48% 64.62%, #5585F1 0deg, #9192F8 65.63deg, #E6E6E6 103.13deg, #EBA1F9 123.75deg, #868CF6 144.37deg, #6283F6 165deg, #6FABD2 198.75deg, #F5F5F5 230.62deg, #5585F1 360deg);
    box-shadow: 0px -1px 0.25px 0px #497CE8 inset;
    border: 0.13px solid;
    border-image-source: linear-gradient(86.24deg, #FFFFFF 3.08%, rgba(255, 255, 255, 0) 102.59%), linear-gradient(0deg, #E7D7D8, #E7D7D8);
    width: 16px;
    height: 16px;
    gap: 0px;
    border: 0.13px;
    border-radius: 50%;
}
.quoteRoot .title .value{
    margin-left: auto;
    font-weight: 600;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
}