.navigation{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 60px 0px;
}

.navigation a{
    text-decoration: none;
    font-weight: 700;
    color:#000000;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    /* line-height: 20px; */
    cursor: pointer;
    padding: 10px;
    /* text-align: center; */
}
.navigation a:hover{
    background-color: #f2f2f2;

}

.navigation button.chakra-button,
.navigation button.chakra-button:hover{
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #123769;
}

.navigation .chakra-menu__menu-list{
    padding: 0px;
}
.navigation .chakra-menu__menu-list button:hover{
    background: #b9b6b4;
}
.navigation .chakra-menu__menu-list button,
.navigation .chakra-menu__menu-list a{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #36394A;
}
.navigation .chakra-menu__menu-list .divider{
    border-top: 1px solid #12376914;
    width: 100%;
    border-top: 1px solid #12376914;
    height: 20px;
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-bottom: -10px;
}
