.PauseAppRoot{
    display: flex;
    padding-top: 100px;
    margin:0px auto;
    width:calc(100% - 140px)
}
.form{
    width: 310px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.headline{
    font-family: Instrument Serif;
    font-size: 48px;
    font-style: italic;
    font-weight: 400;
    line-height: 56px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#fff;
}
.chakra-form-control{
    max-width: 100%;
    width: 100%;
}
.chakra-form-control .chakra-form__label{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:  #D3D3D3;    
}
.chakra-form-control .chakra-input,
.chakra-form-control .chakra-input:focus-visible,
.chakra-form-control .chakra-input:-internal-autofill-selected{
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #424040;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#A4ACB9;
    box-shadow: 0px 0px 0px 1px #FFFFFF21, 0px 1px 2px 0px #EEEFF114;
}
.chakra-form-control .chakra-input::placeholder{
    color:#A4ACB9;
}
.chakra-menu__menu-button{
    background-color: #424040 !important;
    width: 310px;
    box-shadow: 0px 0px 0px 1px #FFFFFF21, 0px 1px 2px 0px #EEEFF114;
}
.chakra-menu__menu-button span{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    display: flex !important;
    column-gap: 8px;
    align-items: center;
    color: #FFFFFF61;
}
.chakra-menu__menu-button span img{
    border-radius: 50%;
}
.chakra-menu__menu-list{
    box-shadow: 0px 0px 0px 1px #FFFFFF21, 0px 1px 2px 0px #EEEFF114 !important;
    background-color: #424040 !important;
    width: 310px;
    border: none;
}
.chakra-menu__menu-list button{
    background-color: #424040;
    color: #FFFFFF61;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}
.chakra-menu__menu-list button{
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
.chakra-menu__menu-list button img{
    border-radius: 50%;
}
.form label{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#D3D3D3;
    /* margin:0px 12px 8px 0px; */
}
.form .form-save{
    padding: 10px 16px;
    background-color: #FC74FE;
    border: 1px solid #F7B0F8;
    font-family: SF Pro Display;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color:#ffffff66;
    border-radius: 5px;
}
.form .form-save:disabled{
    background-color: #FC74FE66;
    pointer-events: none;
}