.BridgeRoot{
    height: 100vh;
    width:100%;
    /* background-color:  #E7E8D1; */
     background-color:#f6f2fb;/*  #E7E9EE2B; */
    /* font-family: 'Courier New', Courier, monospace !important; */
}

.BridgeApp{
    width: 520px;
    padding: 32px 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    margin: 20px auto;
    border-radius: 16px;
    /* font-family: sans-serif; */
}

.from,.to{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 16px;
    background-color: var(--bg_light);
    border-radius: 8px;

}
.Title{
    font-size: 32px;
    font-weight: 600;
    color:#444;
}
.sec1,.sec2{
    position: relative;
}
.sec1,.sec2,.selectFrom,.selectTo,.token,.AddAddress,.dropdown p{
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
}
.selectFrom img,.selectTo img{
    cursor: pointer;
}
.sec2{
    padding-top: 20px;
}
.sec2 input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    color: #444;
    font-size: 24px;
}
.Balance,.sec2 img{
    margin-left: auto;
}
.token{
    padding: 5px 8px;
    background-color: #f2f4f7;
    border-radius: 20px;
}
.chain-logo{
    border-radius: 50%;
    width: 30px;
}
.BridgeBtn{
    width: 100%;
    height: 50px;
    padding: 13px 16px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: #bc8dfa;
    color:#fff;
    border-radius: 5px;
}
.not_connected_btn{
    background-color: rgb(137, 137, 137);
}
.switch_btn{
    cursor: pointer;
    background-color: rgb(39, 142, 246);
}

/* .d1{
    display: none;
}
.d2{
    display: none;
} */
.dropdown p{
    font-size: 14px;
    font-weight: 400;
    padding: 10px 10px;
    column-gap: 10px;
    margin: 0;
    cursor: pointer;
}
.dropdown p.selected,.dropdown p:hover{
    background-color: var(--bg_light);
    font-weight: 600;
}
.AddAddress{
    background-color: var(--bg_light);
    padding: 5px 10px;
    width:fit-content;
    border-radius: 30px;
}
.AddAddress img{
    width:32px;
    border-radius: 50%;
}

.RecepientAddressRoot{
    background-color: var(--bg_light);
    padding: 20px;
}
.RecepientAddressTitle{
    display: flex;
    align-items: center;

}
.RecepientAddressTitle img{
    margin-left: auto;
}
.enterAddress{
    display: flex;
    flex-direction: column;
}
.enterAddress input{
    width: 96%;
    padding: 2%;
    outline: none;
    border: 1px solid #f6f2fb;
    font-size: 16px;
    font-weight: 600;
    color:#444;
}
.enterAddress input::placeholder{
    color:#c4c4c4
}
.enterAddress .errorMsg{
    font-size: 12px;
    color:red;
    font-weight: 700;
    margin-left: auto;

}
.checkbox{
    padding-top: 16px;
}
.checkbox label{
    font-size: 14px;
}
.hideDiv{
    display: none;
}
.quoteRoot{
    background-color: var(--bg_light);
    padding: 15px 10px;
}
.quoteRoot .title{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    /* font-family: sans-serif; */
    font-weight: 400;
    margin-bottom: 16px;
}
.quoteRoot .title .label{
    font-style: italic;
}
.quoteRoot .title .value{
    margin-left: auto;
    font-weight: 600;
    width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: right;
    word-wrap: normal;
}
.Section{
    display: flex;
    flex-direction: row;
    background-color: var(--bg_light);
    border-radius: 20px;
    row-gap: 10px;
    padding: 16px;
}
.Section .leftSection,
.Section .rightSection{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.Section .leftSection label{
    font-size: 16px;
    color:rgb(118, 98, 124);
    font-weight: 600;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}
.Section .leftSection input{
    border: none;
    outline: none;
    background: none;
    width: 100%;
    color: #444;
    font-size: 24px;
    /* border: 1px solid #f6f2fb; */
    font-weight: 600;
    color:#444;
    /* box-shadow: 0px 3px 6px #00000029 ; */
}
.Section .leftSection input::placeholder{
    color:#c4c4c4
}
.Section .leftSection span{
    font-size: 16px;
    color:rgb(137, 137, 137);
    font-weight: 600;
    /* font-family: sans-serif; */
}
.Section .rightSection{
    margin-top: auto;
    margin-left: auto;
    /* text-align: right; */
    position: relative;
}
.Section .rightSection .selectChain{
    /* border: 1px solid #444; */
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0px 1px 3px #00000029;
    cursor: pointer;
    
}
.Section .rightSection .selectChain .chain-logo{
    width:30px;
}
.Section .rightSection .selectChain span{
    text-align: left;
    width:100px;
}
.Section .rightSection .dropdown{
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: #fff; 
    z-index: 2;
    /* padding: 10px 0px; */
    width: 170px;
    top: 42px;
    right: -10px;
    height:200px;
    overflow-y: scroll;
    
}
.Section .rightSection span{
    text-align: right;
}
.Connection{
    display: flex;
}
.connected,.not_connected{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    align-items: center;
}

.connected::before,.not_connected::before{
    content:"";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: green;
    margin-right: 2px;
}
.not_connected::before{
    background-color: rgb(251, 6, 6);
}
.Section .rightSection .SelectMenu span{
    text-align: left;
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.Section .rightSection .SelectMenu{
    /* width: fit-content; */
    width: 200px;
    /* width: 100%; */
}
.SelectMenuItem img{
    margin-right: 10px;
}
@media screen and (max-width:600px) {
    .BridgeApp{
        max-width:380px;
        width: 92%;
        padding: 4%;
    }
}