.nav-root{
    width:100%;
    /* background-color: #fff; */
}
.nav-notification{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #000000;
    border: 2px solid #FFFFFF;
    /* background-color: #2A2928; */
    background-color: #FFDA35;
    padding: 20px;
    position: relative;
    flex-direction: row;
    column-gap: 16px;
}
.nav-notification .quest-btn{
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    background-color: #003D29;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 10px;
}
.nav-notification img{
    /* margin-left: auto; */
    position: absolute;
    right: 30px;
    top:20px;
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.nav-notification.hideDiv{
    display: none;
}
.nav-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    padding: 20px;
}
.left-section,.right-section{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.left-section{
    padding-left: 96px;
}
.left-section a{
    text-decoration: none;
    font-weight: 700;
    color:#000000;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}
.left-section a.active {
    /* color: #FFDA35; */
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 3px;
    text-decoration-color: #FFDA35;
  }
.left-section .title{
    margin-right: 86px;
 
}
.left-section .title img{
    width: 163.18px;
    height: 32px;  
}
.nav-transfer{
    margin-right: 20px;
}
.right-section{
    margin-left: auto;
    margin-right: 32px;
}
.mobile-nav{
    display: none;
}
.nav-history{
    margin-right: 20px;
}
.left-section a.nav-funds{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #123769;
    align-items: center;

}
.down-arrow{
    background-image: url('../../assets/down-arrow1.svg');
    width: 24px;
    height: 24px;
}
.left-section button.chakra-button,
.left-section button.chakra-button:hover{
    background: none;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #123769;
}

.left-section .chakra-menu__menu-list{
    padding: 0px;
}
.left-section .chakra-menu__menu-list button:hover{
    background: #b9b6b4;
}
.left-section .chakra-menu__menu-list button{
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
    color: #36394A;
}
.left-section .chakra-menu__menu-list .divider{
    border-top: 1px solid #12376914;
    width: 100%;
    border-top: 1px solid #12376914;
    height: 20px;
    width: 100%;
    display: flex;
    margin-top: 5px;
    margin-bottom: -10px;
}

.right-section .social_media_logo{
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    margin-right: 40px;
    align-items: center;
}
@media screen and (max-width:720px){
    .nav-history,.nav-transfer{
        display: none;
    }
    .nav-section{
        max-width: 100vw;
        /* width:90%; */
        column-gap: 20px;
    }
    .left-section .title{
        margin-right: 0px;
     
    }
    .left-section{
        padding-left: 0px;
    }
    .mobile-nav{
        display: block;
    }
    .right-section{
        margin-right: 0px;
    }
    .nav-notification{
        font-size: 12px;
        padding: 20px;
        line-height: 16px;
        text-align: left;
    }
    .nav-notification img{
        position: unset;
        margin-left: auto;
    }
    .right-section .social_media_logo{
        display: none;
    }
    .left-section .chakra-menu__menu-button.css-1t3zy1p{
        display: none;
    }
}
