.HeaderRoot{
    max-width: 100%;
    padding: 20px 0px;
    width:100%;
    padding: 20px 70px;
    background-color: transparent;
}
.leftSection{
    display: flex;
    column-gap: 10px;
    flex-direction: row;
}
.leftSection .tag{
    font-family: Instrument Serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 26px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color:#FFFFFF;
}
.leftSection .tag span{
    font-family: SF Pro Display;
    font-size: 20px;
    font-weight: 500;
    line-height: 23.87px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #FC74FE;
}